<% provide(:title, "Search Result") %>
<h1 class="my-3">
  <% if params[:q].present? %>
    <%= params[:q] %>の検索結果(新着順)
  <% else %>
    新着イベント情報
  <% end %>
  <% if current_user %>
    <span><%= link_to "Create event!", new_event_path, class: "btn btn-success " %></span>
  <% end %>
</h1>

<% if @events.any? %>
  <%= will_paginate %>

  <ul class="events mb-3">
    <%= render @events %>
  </ul>

  <%= will_paginate %>
<% else %>
  <h4><%= params[:q] %>の検索結果は見つかりませんでした。。。</h4>
<% end %>