<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@BanpatsuC">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:title" content="<%= full_title(yield(:title)) %>">
    <meta property="og:description" content="「他大学の番発を見に行きたい！」「今度番発をやるから見に来て欲しい！」という方達のための番発+αイベント情報サイトです。">
    <meta property="og:image" content="<%= asset_url('twitter_card/logo.png') %>">

    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <%= analytics_init if Rails.env.production? %>
    <%= render 'layouts/shim' %>
  </head>

  <body data-turbolinks="false">
    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <%# .html_safe or <%==(推奨) を付けることでmessageにタグを追加して拡張できる %>
        <%== content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
